{{ $backgroundColor := "bg-dark" }}
{{ $textColor := "text-white" }}
{{ $image := "" }}
{{ $blendMode := "" }}
{{ $alt := "" }}
{{ $vibe := "" }}
{{ $headingStyles := "" }}
{{ $leadStyles := "" }}
{{ $bodyStyles := "" }}

{{ if and .styles .styles.background_color }}{{ $backgroundColor = .styles.background_color }}{{ end }}
{{ if and .styles .styles.text_color }}{{ $backgroundColor = .styles.text_color }}{{ end }}

{{ if and .elements.background_image .elements.background_image.image }}{{ $image = .elements.background_image.image }}{{ end }}
{{ if and .elements.background_image .elements.background_image.alt }}{{ $image = .elements.background_image.alt }}{{ end }}

{{ if and .styles .styles.vibe }}
  {{ if eq .styles.vibe "wvu-experience-1" }}
    {{ $headingStyles = "display-2 oliviar-black text-uppercase" }}
    {{ $leadStyles = "h4 iowan-old-style-black-italic" }}
  {{ else if eq .styles.vibe "down-to-business-1" }}
    {{ $headingStyles = "display-2 wvu-shout" }}
    {{ $leadStyles = "h4 iowan-old-style-black-italic" }}
  {{ else }}
    {{ $headingStyles = "display-2 wvu-shout text-uppercase" }}
    {{ $leadStyles = "h4 helvetica-neue-light" }}
  {{ end }}
{{ end }}

<main id="{{ .config.id }}" class="position-relative py-8 bg-dark {{ $textColor }}" aria-labelledby="{{ .config.aria_labelledby }}-label">
  {{ partial "bookshop_partial" (slice "section_background" (dict "image" $image "blendMode" $blendMode "alt" $alt)) }}
  <div class="container position-relative {{ .layout.padding_y }}">
    <div class="row">
      <div class="col col-md-7 col-xl-6">
        <div>
          <h2 id="{{ .config.aria_labelledby }}-label" class="{{ $headingStyles }} mb-3">{{ .elements.heading }}</h2>

          {{ if .elements.lead }}
            {{ partial "bookshop" (slice "generic/lead" (dict "text" .elements.lead "styles" $leadStyles)) }}
          {{ end }}
  
          {{ if .elements.body }}
            <div class="{{ $bodyStyles }}">
              {{ .elements.copy | markdownify }}
            </div>
          {{ end }}
  
          {{ if .elements.ctas }}
            {{ range .elements.ctas }}
              CTA
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</main>